[Unit]
Description=Camera capture
After=network.target

[Service]
ExecStart=/usr/bin/python -u /home/pi/bnn/rasp_pi/capture_stills.py
WorkingDirectory=/home/pi/capture/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target